{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {{ include('@travel_connect/default/head.html.twig') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {#{{ include('CoreBundle:cms:header.html.twig') }}#}
{% endif %}
<div id='wrapper'>
        {{ include('@travel_connect/default/header.html.twig') }}
    {% block body %}

    {% endblock %}
    {% block footer %}
        {{ include('@travel_connect/default/footer.html.twig') }}
    {% endblock %}
</div>
{{ include('@travel_connect/default/javascript-include.html.twig') }}
{% block javascripts %}

{% endblock %}
</body>
</html>