<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico">

<!-- Web Fonts -->
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="/themes/travel-connect/default/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/themes/travel-connect/default/assets/css/style.css">

<!-- CSS Header and Footer -->
<link rel="stylesheet" href="/themes/travel-connect/default/assets/css/headers/header-default.css">
<link rel="stylesheet" href="/themes/travel-connect/default/assets/css/footers/footer-v1.css">

<!-- CSS Theme -->
<link rel="stylesheet" href="/themes/travel-connect/default/assets/css/theme-colors/default.css" id="style_color">
<link rel="stylesheet" href="/themes/travel-connect/default/assets/css/theme-skins/dark.css">

