<!-- JS Global Compulsory -->
<script type="text/javascript" src="/themes/travel-connect/default/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/themes/travel-connect/default/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/themes/travel-connect/default/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
